<footer>
    <div class="container">


        <div class="row">
            <!-- ABOUT -->
            <div class="col-md-4">
                <h6>联系我们</h6>
                <ul class="personl-info">
                    <li>
                        <div class="media-left icons"><i class="fa fa-home"></i></div>
                        <div class="media-body">
                            <p>&nbsp;肇庆学院中巴软件园204</p>
                        </div>
                    </li>
                    <li>
                        <div class="media-left icons"><i class="fa fa-phone"></i></div>
                        <div class="media-body"><p>&nbsp;&nbsp;17876253580</p></div>
                    </li>
                    <li>
                        <div class="media-left icons"><i class="fa fa-envelope-o"></i></div>
                        <div class="media-body"><p>1214586475@qq.com</p></div>
                    </li>
                </ul>
            </div>

            <!-- Our Services -->
            <div class="col-md-5">
                <h6>友情链接</h6>
                <ul class="service-link row">
                    <li><a href="#."><i class="fa fa-angle-right" aria-hidden="true"></i>肇庆学院</a></li>
                    <li><a href="#."><i class="fa fa-angle-right" aria-hidden="true"></i>教务系统</a></li>
                    <li><a href="#."><i class="fa fa-angle-right" aria-hidden="true"></i>肇庆学院图书馆</a></li>
                    <li><a href="#."><i class="fa fa-angle-right" aria-hidden="true"></i>慕课</a></li>
                    <li><a href="#."><i class="fa fa-angle-right" aria-hidden="true"></i>极客学院</a></li>
                    <li><a href="#."><i class="fa fa-angle-right" aria-hidden="true"></i>单片机开发</a></li>
                    <li><a href="#."><i class="fa fa-angle-right" aria-hidden="true"></i>CSDN论坛</a></li>
                    <li><a href="#."><i class="fa fa-angle-right" aria-hidden="true"></i>我的博客</a></li>
                </ul>
            </div>
            <div class="col-md-3">

                <!-- Social Icons -->
                <div class="social-icons">
                    <h6>关注我们</h6>
                    <a href="#."><i class="fa fa-qq"></i></a> <a href="#."><i class="fa fa-wechat"></i></a>
                    <a href="#."><i class="fa fa-envelope"></i></a>
            </div>
        </div>
    </div>
</footer>
<div class="rights">
    <p>Copyright &copy; 2018.9 单片机教学网版权所有</p>
</div>