{layout name="public:layout" /}

<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="{:url('site/index')}" style="color: #33414E;text-decoration: none">系统</a>
            </li>
            <li class="active">章节管理</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body">
        <div class="row" style="background-color: white;margin:-10px 5px 0px 5px;box-shadow: 3px 3px 2px #888888;">
            <div class="col-lg-12 col-sm-12 col-xs-12">

                <div class="row container" style="margin-top: 20px;">
                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                        <h4><a class="text-left text-success" href="{:url('cate/lst')}"
                               style="text-decoration: none">章节列表</a></h4>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                        <form action="{:url('cate/lst')}" method="post">
                            <div class="pull-right" id="query-form" style="padding-bottom:10px;">
                                <input name="keywords" placeholder="请输入章节名称" type="text"
                                       style="float:left;width:200px;margin-right:5px;"
                                       v-model="lookupType"
                                       class="form-control">

                                <div class="btn-group">
                                    <button id="btn_search" type="submit"
                                            class="btn btn-primary btn-space">
                                                    <span class="glyphicon glyphicon-search" aria-hidden="true"
                                                          class="btn-icon-space"></span>
                                        查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <form action="{:url('cate/delall')}" method="post">
                    <div class="widget">
                        <div class="widget-body">
                            <div class="flip-scroll container">
                                <div class="row">
                                    <hr style="height:1px;border:none;border-top:1px solid #555555;"/>
                                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                                        <div id="toolbar-btn" class="btn-group pull-left" style="padding-bottom:10px;">
                                            <button id="btn_add" onclick="createFunction()" type="button"
                                                    class="btn btn-primary btn-space">
                                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"
                                                  class="btn-icon-space"></span>
                                                添加章节
                                            </button>

                                            <button id="btn_delete" onclick="return deleteallcate()" type="submit"
                                                    class="btn btn-danger btn-space">
                                            <span class="glyphicon glyphicon-trash" aria-hidden="true"
                                                  class="btn-icon-space"></span>
                                                删除
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                                    </div>
                                </div>

                                <div class="row">
                                    <table class="table table-bordered table-hover table-responsive">
                                        <thead style="background-color: #F0F0F0">
                                        <tr>
                                            <th align="center"><input type="checkbox" name="checkall" id="checkall"
                                                                           onclick="checkfk()">全选
                                            </th>
                                            <th class="text-center" width='10%'>ID</th>
                                            <th class="text-center" width='30%'>章节名称</th>
                                            <th class="text-center" width='30%'>上级章节</th>
                                            <th class="text-center" width='25%'>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {volist name='lst' id='cate'}
                                        <tr>
                                            <td align="center"><input type="checkbox" name="id[]" id="checkbox"
                                                                      value="{$cate.id}"></td>
                                            <td align="center">{$cate.id}</td>
                                            <td align="left">
                                                {$cate.name}
                                            </td>
                                            {if $cate.pid==0}
                                            <td align="left">顶级章节</td>
                                            {else/}
                                            <td align="left">{$cate.pid|getCateName}</td>
                                            {/if}
                                            <td align="center">
                                                <a href="{:url('Cate/edit',array('id'=>$cate['id']))}"
                                                   class="btn btn-primary btn-sm shiny">
                                                    <i class="glyphicon glyphicon-edit"></i> 编辑
                                                </a>
                                                <a href="" onclick="dele({$cate.id}); return false;"
                                                   class="btn btn-danger btn-sm shiny">
                                                    <i class="glyphicon glyphicon-minus-sign"></i> 删除
                                                </a>
                                            </td>
                                        </tr>
                                        {/volist}
                                        </tbody>
                                    </table>
                                    <div class="text-center">{$lst|raw}</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    function dele(id) {
        if (confirm('如果删除此章节，将清除与其关联的所有数据，您确定要删除吗？') == true) {
            window.location.href = "{:url('Cate/del')}" + "?id=" + id;
        }
    }
    function createFunction() {
        window.location.href = "{:url('cate/add')}";
    }
    function checkfk() {
        var allcheck = document.getElementById("checkall");  //获取 全选check 的id
        var othercheck = document.getElementsByName("id[]"); //获取数组名称为fkcheck的 复选框
        for (var i = 0; i < othercheck.length; i++) {
            if (allcheck.checked) {
                othercheck[i].checked = true;
            } else {
                othercheck[i].checked = false;
            }
        }
    }
</script>